
.button{
    -fx-cursor: hand;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: light grey;
}

.blue-button{
    -fx-background-color: #004B88;
    -fx-text-fill: #FFF;
    -fx-font-size: 16;
    -fx-font-family: Helvetica;
    -fx-font-weight: 700;

}

.red-button{
    -fx-background-color: #FF5656;
    -fx-text-fill: #FFF;
    -fx-font-size: 14;
    -fx-font-family: Helvetica;
    -fx-font-weight: 700;
}

.shadow{
    -fx-effect: dropshadow(gaussian, RGBA(87    , 87, 87, 0.5), 10, -3, 5,0);
}


